{include file="public/header/nav_membership_header"}

<!-- 导航 -->
<!-- 主体内容 S -->
<div class="main w1000">
    <div class="fb-source">
        <ul>
            <li>
                <a href="">首页</a>
                <span >-></span>
            </li>
            <li>
                <a>学生家庭经济情况评估公示结果</a>
                <span >-></span>
            </li>
        </ul>
    </div>
    <form action="" method="post">
        <div class="notice_select">
            <button class="btn btn-sm" style="margin-bottom: 12px;" name="department" value="1">查看本系</button>
            <button class="btn btn-sm" style="margin-bottom: 12px;" name="school" value="2">查看全院</button>
        </div>
    </form>
    {if empty($list[1])}
    公示时间为：{$open_time.begin_time|date='Y-n-d',###} —— {$open_time.end_time|date='Y-n-d',###}
    {else}
    <table width="756px" class="k-w-table line_table" style="margin: 10px auto 20px auto;">
        <thead>
        <th class="info_bg k-s-content title">姓名</th>
        <th class="info_bg k-s-content title">学号</th>
        <th class="info_bg k-s-content title">班级</th>
        <th class="info_bg k-s-content title">评议分数</th>
        <th class="info_bg k-s-content title">评议等级</th>
        </thead>
        <tbody>
        {foreach $list as $row}
        <tr class="line-table-height">
            <td class="k-s-content content">{$row.studentname}</td>
            <td class="k-s-content content">{$row.user_id}</td>
            <td class="k-s-content content">{$row.profession}{$row.class}</td>
            <td class="k-s-content content"></td>
            <td class="k-s-content content"></td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    <div class="fb-page">
        {$list->render()}
    </div>
    {/if}
</div>
<!-- 主体内容 E -->

{include file="public/footer"}






