{include file="public/header/nav_membership_header"}


<!-- 主体内容 S -->
<div class="main w1000">
    <div class="fb-source">
        <ul>
            <li>
                <a href="">首页</a>
                <span >-></span>
            </li>
            <li>
                <a>国家奖学金公示结果</a>
                <span >-></span>
            </li>
        </ul>
    </div>
    <form action="" method="post">
        <div class="notice_select">
            <button type="submit" class="btn btn-sm ajax-search-form" style="margin-bottom: 12px;" name="faculty" value="1">查看本系通过</button>
            <button type="submit" class="btn btn-sm ajax-search-form" style="margin-bottom: 12px;" name="faculty" value="0">查看全校通过</button>
        </div>
    </form>
    {if !isset($list)}
    公示时间为：{$open_time.begin_time|date='Y-n-d',###} —— {$open_time.end_time|date='Y-n-d',###}
    {else}
    <table width="756px" class="k-w-table line_table" style="margin: 10px auto 20px auto;">
        <thead>
        <th class="info_bg k-s-content title">姓名</th>
        <th class="info_bg k-s-content title">学号</th>
        <th class="info_bg k-s-content title">班级</th>
        </thead>
        <tbody id="ajax-data">
            {include file="student_notice\scholar_ajax_notice"}
        </tbody>
    </table>
    {/if}
</div>
<!-- 主体内容 E -->

{include file="public/footer"}
