{include file="public/header/index_header"}

<!-- 导航 -->
<div class="nav">
    <ul class="w1000">
        <li class=""><a href="{:url('/index_front')}">首页</a></li>
        <li class=""><a href="{:url('home/Show/evalu_notice')}">家庭经济评估公示</a></li>
        <li class=""><a href="{:url('home/show/grants_notice')}">国家助学金公示</a></li>
        <li class="active"><a href="{:url('home/Show/scholar_notice')}">国家奖学金公示</a></li>
        <li class=""><a href="{:url('home/show/motiv_notice')}">国家励志奖学金公示</a></li>
        <li class=""><a href="{:url('home/Listn/showlist')}">系统公告</a></li>
    </ul>
</div>
<!-- 导航 -->
<!-- 主体内容 S -->
<div class="main w1000">
    <div class="fb-source">
        <ul>
            <li>
                <a href="">首页</a>
                <span >-></span>
            </li>
            <li>
                <a>国家奖学金公示结果</a>
                <span >-></span>
            </li>
        </ul>
    </div>
    <form action="" method="post">
        <div class="notice_select">
            <button class="btn btn-sm" style="margin-bottom: 12px;">查看本系</button>
            <button class="btn btn-sm" style="margin-bottom: 12px;">查看全院</button>
        </div>

    </form>
    <table width="756px" class="k-w-table line_table" style="margin: 10px auto 20px auto;">
        <thead>
        <th class="info_bg k-s-content title">姓名</th>
        <th class="info_bg k-s-content title">学号</th>
        <th class="info_bg k-s-content title">班级</th>
        <!--<th class="info_bg k-s-content title">评议分数</th>-->
        <!--<th class="info_bg k-s-content title">评议等级</th>-->
        <th class="info_bg k-s-content title">公示时间</th>
        </thead>
        <tbody>
        <tr class="line-table-height">
            <td class="k-s-content content">韦发炫</td>
            <td class="k-s-content content">20153328110</td>
            <td class="k-s-content content">物联网应用技术一班</td>
            <!--<td class="k-s-content content">1000</td>-->
            <!--<td class="k-s-content content">非常困难</td>-->
            <td class="k-s-content content">2017.11.01--2017.11.05</td>
        </tr>
        </tbody>
    </table>
</div>
<!-- 主体内容 E -->

{include file="public/footer"}






