{extend name="admin@public/base" /}
{block name="main-content"}
<style>
table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:16px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
	margin:0 auto;
}
table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}
</style>
	<div class="page-content">
	<div class="row">
		<div class="col-xs-12">
			<!-- 提示 -->
			<!--<div class="alert alert-block alert-success">-->
				<!--<button type="button" class="close" data-dismiss="alert">-->
					<!--<i class="ace-icon fa fa-times"></i>-->
				<!--</button>-->
				<!--<i class="ace-icon fa fa-check green"></i>-->
				<!--为了您更好的使用本系统，建议屏幕分辨率1280*768以上，并且安装chrome谷歌浏览器-->
			<!--</div>-->
			<div class="row">
				<div class="space-6"></div>
				
			</div><!-- /.col -->
			{if $admin['group_id'] == 1}
			{:hook('maintain')}
			{/if}
			{if $admin['group_id'] == 22}
			<div class="row" style="text-align:center">
				<h4><?php echo \think\Db::name('faculty')->where('faculty_number',$admin['faculty_number'])->value('faculty_name') ?>家庭经济困难认定信息汇总</h4>
				<table class="gridtable">
					<tr>
						<td>年级</td>
						<td>家庭经济困难学生总人数</td>
						<td>特殊困难学生总人数</td>
						<td>比较困难学生总人数</td>
						<td>一般困难学生总人数</td>
					</tr>
					{foreach $years as $key => $year}
					<tr>
						
						<td>{$year}</td>
						<td><?php echo think\Db::name('evaluation_statistics')->where("year = '".$year."' AND times = '".$eval_subsidy['begin_time']."' AND name = 'faculty_year_poor_grade' AND attr = 'faculty_number' AND attr_value = '".$admin['faculty_number']."'")->value('value') ?></td>
						<td><?php echo think\Db::name('evaluation_statistics')->where("year = '".$year."' AND times = '".$eval_subsidy['begin_time']."' AND name = 'faculty_year_poor_grade_1' AND attr = 'faculty_number' AND attr_value = '".$admin['faculty_number']."'")->value('value') ?></td>
						<td><?php echo think\Db::name('evaluation_statistics')->where("year = '".$year."' AND times = '".$eval_subsidy['begin_time']."' AND name = 'faculty_year_poor_grade_2' AND attr = 'faculty_number' AND attr_value = '".$admin['faculty_number']."'")->value('value') ?></td>
						<td><?php echo think\Db::name('evaluation_statistics')->where("year = '".$year."' AND times = '".$eval_subsidy['begin_time']."' AND name = 'faculty_year_poor_grade_3' AND attr = 'faculty_number' AND attr_value = '".$admin['faculty_number']."'")->value('value') ?></td>
					</tr>
					{/foreach}
					<tr>
						<td>总计</td>
						<td><?php echo think\Db::name('evaluation_statistics')->where("year = 'all' AND times = '".$eval_subsidy['begin_time']."' AND name = 'faculty_poor_grade' AND attr = 'faculty_number' AND attr_value = '".$admin['faculty_number']."'")->value('value') ?></td>
						<td><?php echo think\Db::name('evaluation_statistics')->where("year = 'all' AND times = '".$eval_subsidy['begin_time']."' AND name = 'faculty_poor_grade_1' AND attr = 'faculty_number' AND attr_value = '".$admin['faculty_number']."'")->value('value') ?></td>
						<td><?php echo think\Db::name('evaluation_statistics')->where("year = 'all' AND times = '".$eval_subsidy['begin_time']."' AND name = 'faculty_poor_grade_2' AND attr = 'faculty_number' AND attr_value = '".$admin['faculty_number']."'")->value('value') ?></td>
						<td><?php echo think\Db::name('evaluation_statistics')->where("year = 'all' AND times = '".$eval_subsidy['begin_time']."' AND name = 'faculty_poor_grade_3' AND attr = 'faculty_number' AND attr_value = '".$admin['faculty_number']."'")->value('value') ?></td>
					</tr>
				</table>
			</div>
			{/if}
		</div><!-- /.row -->
	</div>
{/block}
