{foreach name="user" item="row" key="k" }
<tr>
    <td>
        {if !in_array($row.check_status,[1,2])}
        {$row.status_id}
        {else}
        <label class="pos-rel">
            <input name="n_id[]" id="navid" class="ace" type="checkbox" value="{$row.status_id}">
            <span class="lbl">{$row.status_id}</span>
        </label>
        {/if}
    </td>
    {include file="common\group_application_val"}
	{if $type_id == 1}
	<td>{$row.reason}</td>
	<td>
        {if !in_array($row.check_status,[1,2])}
        {$row.group_opinion.text}
        {else}
        <textarea name="group_opinion[text]" class="text">{$row.group_opinion.text|default="同意"}</textarea>
        {/if}
    </td>
	{else}
	<td>{$row.poor_grade_name}</td>
	<td>{$row.reason}</td>
	<td>
        {if !in_array($row.check_status,[1,2])}
        {$row.group_opinion.text}
        {else}
        <textarea name="group_opinion[text]" class="text">{$row.group_opinion.text|default="同意"}</textarea>
        {/if}
    </td>
	{/if}
	<td>
		{php}echo config('check_status.'.$row['check_status']);{/php}
	</td>
    <td>
        <div class="audit_opera">
            <div action="{:url('admin/ScholarshipHandle/MultipleCounselorFill')}" class="passingDiv2" method="post">
                <input type="hidden" name="status_id" value="{$row.status_id}" />
                <div class="audit_opera">
                    <button class="btn btn-primary btn-sm" type="submit" name="pass" {if !in_array($row.check_status,[1,2])}disabled{/if}>同意</button>
                </div>
                <div class="audit_opera">
                    <button class="btn btn-info btn-sm btn-danger" type="submit" name="fail" {if !in_array($row.check_status,[1,2])}disabled{/if} value="1">不同意</button>
                </div>
                <a href="{$detail_url}&id={$row.status_id}" class="btn btn-info btn-sm">查看</a>
            </div>
        </div>
    </td>
</tr>
{/foreach}
<tr>
    <td align="left" class="hidden-xs center" href="{:url('admin/ScholarshipHandle/MultipleCounselorAllFill')}">
        <button id="passSubmit" class="btn btn-primary btn-sm hidden-xs" name="pass">同意&nbsp;</button>
        <button id="failSubmit" class="btn btn-danger  btn-sm hidden-xs" name="fail">不同意</button>
    </td>
    <td height="50" colspan="12" align="left">{$page}</td>
</tr>
