{include file="public/header/nav_membership_header"}

<!--<div class="nav printHide">
    <ul class="w1000">
        <li><a href="{:url('/index_front')}">首页</a></li>
        <li><a href="{:url('/personal')}">经济困难认定</a></li>
        <li><a href="{:url('/scho_status')}">国家三金申请</a></li>
        <li><a href="{:url('/work')}">勤工助学金</a></li>
        <li><a href="{:url('/questionnaire')}">调查问卷</a></li>
        <li class=" active"><a href="{:url('/changePassword')}">修改密码</a></li>
        <li><a href="{:url('/home/show/evalu_notice')}">通知公告</a></li>
    </ul>
</div>-->

<!-- 主体内容 S -->
<div class="main w1000" style="background:#fff;">
    <div class="updatePass">
        <div class="updatePass-title">修改密码</div>
        <form action="{:url('home/Center/runchangepwd')}" method="post">
            <div class="input-item">
                <label>旧密码：</label>
                <input type="password" name="old_password">
            </div>
            <div class="input-item">
                <label for="">新密码：</label>
                <input type="password" name="password">
            </div>
            <div class="input-item">
                <label for="">新密码确认：</label>
                <input type="password" name="repassword">
            </div>
            <input type="submit" value="修改">
        </form>
    </div>
</div>
<!-- 主体内容 E -->

{include file="public/footer"}