<?php $num = 1;?>
{foreach $user as $row}
<tr>
    <td>
        {if $row.check_status == 4}
        <label class="pos-rel">
            <input name="n_id[]" id="navid" class="ace" type="checkbox" value="{$row.status_id}">
            <span class="lbl"></span>
        </label>
        {/if}
        {$row.status_id}
    </td>
    <td>{$row.studentname}</td>
	<td>{$row.id_number}</td>
	<td>{$row.department_name}{$row.class_name}</td>
	{if $type_id == 1}
	<td><p>{$row.reason}</p></td>
	<td>{$row.group_opinion.text}</td>
	<td>{$row.faculty_opinion.text}</td>
	<td>
        {if !in_array($row.check_status,[4])}
        {$row.school_opinion.text}
        {else}
        <textarea name="school_opinion[text]" class="text">{$row.school_opinion.text|default="同意"}</textarea>
        {/if}
    </td>
	{else}
	<td>{$row.poor_grade_name}</td>
	<td><p>{$row.reason}</p></td>
	<td>{$row.group_opinion.text}</td>
	{/if}
	<td>
		{php}echo config('check_status.'.$row['check_status']);{/php}
	</td>

    <td class="tab_content">
        <div action="{:url('admin/ScholarshipHandle/MultipleStudentOfficeFill')}" class="passingDiv2" method="post">
            <input type="hidden" name="status_id" value="{$row.status_id}" />
            <div class="audit_opera">
                <button class="btn btn-sm btn-primary" type="submit" name="pass" {if $row.check_status != 4}disabled{/if}>同意</button>
            </div>
            <div class="audit_opera">
                <button class="btn btn-info btn-sm btn-danger" type="submit" name="fail" {if $row.check_status !=4}disabled{/if} value="1">不同意</button>
            </div>
            <div class="audit_opera">
                <a href="{$detail_url}&id={$row.status_id}" class="btn btn-info btn-sm">查看</a>
            </div>
        </div>
    </td>
</tr>
{/foreach}
<tr>
    <td align="left" class="hidden-xs center" href="{:url('admin/ScholarshipHandle/MultipleStudentOfficeFillAll')}">
        <button id="passSubmit" class="btn btn-primary btn-sm hidden-xs" name="pass">同意&nbsp;</button>
        <button id="failSubmit" class="btn btn-danger  btn-sm hidden-xs" name="fail">不同意</button>
    </td>
    <td height="50" colspan="12" align="left">{$page}</td>
</tr>
