{extend name="admin@public/base" /}
{block name="main-content"}

<div class="page-content">
    <div class="page-header">
        <h1>
            您当前操作
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                <a href="{:url('admin/scholarships_group/showreviewlist')}">国家{php}echo config('application_type.'.$type_id);{/php}全院审核</a>
            </small>
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                添加评语
            </small>
            <!--<small>-->
            <!--<i class="ace-icon fa fa-angle-double-right"></i>-->
            <!--个人简历-->
            <!--</small>-->
        </h1>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="w800">
                <table class="table_heading" style="width:100%">
                    <tr>
                        <td colspan="2"></td>
                        <td style="text-align: right"><span style="font-size: 13px;color:grey;">广东农工商职业技术学院</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="font-size: 25px;font-weight: 600;text-align: center;border-top: 1px solid #000;line-height: 48px;">
                            普通本科高校、高等职业学校国家{php}echo config('application_type.'.$type_id);{/php}申请表
                        </td>
                    </tr>
                </table>
                <table class="table table-bordered tab_center">
                     {if $type_id == 1}
                    {include file="common/scholar" /}
                    {else}
                    {include file="common/grants_inspirational" /}
                    {/if}
					<tr>
                        <td colspan="9" class="tab_content">
                            <p class="tab_left">班级评定小组意见</p>
                            <textarea class="tab_opinion" disabled>{$user.group_opinion.text}</textarea>
                            <!-- <div class="tab_sign">
                                <label for="">组长签名：</label>
                                <input type="text" value="{$user.group_opinion.name}" disabled>
                            </div>
                            -->
                            <div class="clearfix"></div>
                            <div class="tab_time">
                                <input type="text" value="{$user.group_opinion.time|date='Y',###}" disabled>年
                                <input type="text" value="{$user.group_opinion.time|date='n',###}"disabled>月
                                <input type="text" value="{$user.group_opinion.time|date='d',###}"disabled>日
                            </div>
                        </td>
                    </tr>
					<tr>
                        <td colspan="9" class="tab_content">
                            <p class="tab_left">院系意见</p>
                            <textarea class="tab_opinion" disabled>{$user.faculty_opinion.text}</textarea>
                            <div class="clearfix"></div>
                            <div class="tab_time">
                                <input type="text" value="{$user.faculty_opinion.time|date='Y',###}" disabled>年
                                <input type="text" value="{$user.faculty_opinion.time|date='n',###}"disabled>月
                                <input type="text" value="{$user.faculty_opinion.time|date='d',###}"disabled>日
                            </div>
                        </td>
                    </tr>
                </table>
                <form action="{:url('admin/ScholarshipHandle/MultipleStudentOfficeFill')}" method="post" id="passingForm" class="passingForm">
                    <table class="w800">
						{if (!in_array($user.check_status,[4]) && $type_id !=1) || (!in_array($user.check_status,[4]) && $type_id ==1)}
                        <tr>
                            <td class="tab_title"><p class=" tab_left" style="font-size: 16px;">学校评语：</p></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="tab_content">
                                
                                <textarea name="faculty_opinion[text]" class="tab_opinion">{$user.school_opinion.text}</textarea>
                                
                            </td>
                        </tr>
						{/if}
                        <tr>
                            <td colspan="3" style="height: 30px;"></td>
                        </tr>
                        <input type="hidden" value="{$id}" name="status_id">
                        <input type="hidden" value="{$type_id}"name="type_id">
						<tr>
							<td style="width: 266px;"></td>
							<td class="tab_content" style="width: 266px;">
								<button type="submit"  class="btn btn-primary" name="pass">同意</button>
								<button type="submit" class="btn btn-danger" name="fail" value="1">不同意</button>
							</td>
							<td style="width: 266px;"></td>
						</tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
{if !in_array($user.check_status,[4])}
<script>
$(".passingForm").find("textarea").attr('disabled',true);
$(".passingForm").find("input").attr('disabled',true);
$(".passingForm").find("select").attr('disabled',true);
$(".passingForm").find("button").attr('disabled',true);
</script>
{/if}
{/block}
