
{extend name="admin@public/base" /}
{block name="main-content"}

<div class="page-content">
    <div class="page-header">
        <h1>
            您当前操作
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                <a href="">查看学院所有申请人</a>
            </small>
            <!--<small>-->
            <!--<i class="ace-icon fa fa-angle-double-right"></i>-->
            <!--个人简历-->
            <!--</small>-->
        </h1>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="w1000">
                <div class="personal_num">
                    <div class="passed">
                        <p class="success_bg"><span></span><span>全院</span>已评定人数：</p>
                        <p class="default_bg"><span>1000</span>人</p>
                    </div>
                    <div class="passed pull-right">
                        <p class="danger_bg"><span></span><span>全院</span>未评定人数：</p>
                        <p class="default_bg"><span>1500</span>人</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="tab_inquire">
                    <p>筛选：</p>
                    <select class="form-control tab_select grade_select" style="width:15%;">
                        <option value=""><a href=""></a></option>
                        <option value=""><a href="">2015级</a></option>
                        <option value=""><a href="">2016级</a></option>
                        <option value=""><a href="">2017级</a></option>
                    </select>
                    <select class="form-control tab_select subject_select" id="">
                        <option value=""><a href="">全院</a></option>
                        <option value=""><a href="">国际交流学院</a></option>
                        <option value=""><a href="">外语系</a></option>
                        <option value=""><a href="">商务系</a></option>
                        <option value=""><a href="">机电系</a></option>
                        <option value=""><a href="">计算机系</a></option>
                        <option value=""><a href="">热作系</a></option>
                        <option value=""><a href="">财金系</a></option>
                        <option value=""><a href="">管理系</a></option>
                        <option value=""><a href="">艺术系</a></option>
                    </select>
                    <div class="tab_search pull-right">
                        <label for="">查询</label>
                        <input type="text">
                        <button class="btn btn-info btn-sm" type="submit">搜索</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <table class="table table-striped table-bordered table-hover tab_center">
                    <thead>
                    <th class="">序号</th>
                    <th class="">姓名</th>
                    <th class="">学号</th>
                    <th class="">班级</th>
                    <th class="">评定状态</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="tab_content">1</td>
                        <td class="tab_content">韦发炫</td>
                        <td class="tab_content">20153328110</td>
                        <td class="tab_content">物联网应用技术一班</td>
                        <td class="tab_content">已评定通过</td>
                    </tr>
                    <tr>
                        <td class="tab_content">1</td>
                        <td class="tab_content">韦发炫</td>
                        <td class="tab_content">20153328110</td>
                        <td class="tab_content">物联网应用技术一班</td>
                        <td class="tab_content">已评定通过</td>
                    </tr>
                    </tbody>
                </table>
                <div class="notice_page">
                    <ol>
                        <li><a href="">首页</a></li>
                        <li><a href="">上一页</a></li>
                        <li><a class="active" href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                        <li><a href="">下一页</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}