{foreach $user as $row}
<tr>
    <td>{$row.status_id}</td>
    {include file="common\group_application_val"}
    <td class="tab_content">
        <div action="{:url('admin/ScholarshipHandle/MultipleFacultyFill')}" class="passingDiv" method="post">
        <input type="hidden" name="status_id" value="{$row.status_id}" />
        {if $type_id == 1}
        <div class="audit_opera">
            <button class="btn btn-info btn-sm btn-success" type="submit" name="pass" {if $row.check_status != 3}disabled{/if}>通过</button>
        </div>
        <div class="audit_opera">
            <button class="btn btn-info btn-sm btn-danger" type="submit" name="fail" {if $row.check_status != 3}disabled{/if} value="1">不通过</button>
        </div>
        {else}
        <div class="audit_opera">
            <button class="btn btn-info btn-sm btn-success" type="submit" name="pass" {if $row.check_status != 2}disabled{/if}>通过</button>
        </div>
        <div class="audit_opera">
            <button class="btn btn-info btn-sm btn-danger" type="submit" name="fail" {if $row.check_status != 2}disabled{/if} value="1">不通过</button>
        </div>
        {/if}
        <div class="audit_opera">
            <a href="{:url('admin/FacultyGroup/showMaterial',['id'=>$row.status_id,'type_id'=>$type_id])}" class="btn btn-info btn-sm">查看</a>
        </div>
        </div>
    </td>
</tr>
{/foreach}
