
{extend name="admin@public/base" /}
{block name="main-content"}

<div class="page-content">
    <div class="page-header">
        <h1>
            您当前操作
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                <a href="">查看本系所有申请人</a>
            </small>
            <!--<small>-->
            <!--<i class="ace-icon fa fa-angle-double-right"></i>-->
            <!--个人简历-->
            <!--</small>-->
        </h1>
    </div>
    <input type="hidden" name="faculty_number" value="{$faculty}">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div>
                <div class="personal_num" style="width: 800px;">
                    <div class="passed">
                        <p class="success_bg"><span>{$faculty_name}</span>已评定人数：</p>
                        <p class="default_bg"><span>{$faculty_pass}</span>人</p>
                    </div>
                    <div class="passed pull-right">
                        <p class="danger_bg"><span>{$faculty_name}</span>未评定人数：</p>
                        <p class="default_bg"><span>{$faculty_not_pass}</span>人</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <form class="tab_inquire" method="post" action="">
                    <p>筛选：</p>
                    <select class="form-control tab_select" style="width:15%;" name="grade">
                        <option value="0"></option>
                        <option value="2015">2015级</option>
                        <option value="2016">2016级</option>
                        <option value="2017">2017级</option>
                    </select>
                    <select class="form-control tab_select manage_select" name="faculty">
                        <option value="0"><a href="">全系</a></option>
                        {foreach $profession as $f}
                        <option value="{$f.profession_number}">{$f.profession}</option>
                        {/foreach}
                    </select>
                    <button class="btn btn-info btn-sm" style="margin-bottom: 3px;">查询</button>
                    <div class="tab_search pull-right">
                        <input type="text" placeholder="学号/姓名" name="studentname">
                        <button class="btn btn-info btn-sm" type="submit">搜索</button>
                    </div>
                    <div class="clearfix"></div>
                </form>

                <!--<table class="table table-striped table-bordered table-hover tab_center">
                    <thead>
                    <th class="info_bg">序号</th>
                    <th class="info_bg">姓名</th>
                    <th class="info_bg">学号</th>
                    <th class="info_bg">评定状态</th>
                    <th class="info_bg">操作</th>
                    </thead>
                    <tbody>
                    <?php $num = 1;?>
                    {foreach $user as $row}
                    <tr>
                        <td class="tab_content">{$num++}</td>
                        <td class="tab_content">{$row.studentname}</td>
                        <td class="tab_content">{$row.studentid}</td>
                        <td class="tab_content">
                            {if condition="$row.status == 1"}申请书已经提交
                            {elseif condition="$row.status==2"}班级小组通过/辅导员通过
                            {elseif condition="$row.status==3"}院系小组通过
                            {elseif condition="$row.status==4"}学生处通过
                            {elseif condition="$row.status==5"}班级小组不通过
                            {elseif condition="$row.status==6"}院系小组不通过
                            {elseif condition="$row.status==7"}学生处不通过
                            {/if}
                        </td>
                        <td class="tab_content">
                            <div class="audit_opera">
                                <a href="{:url('admin/FacultyGroup/showMaterial',['id'=>$row.status_id,'type_id'=>$type_id])}" class="btn btn-info btn-sm ">通过</a>
                            </div>
                            <div class="audit_opera">
                                <a href="{:url('admin/FacultyGroup/showMaterial',['id'=>$row.status_id,'type_id'=>$type_id])}" class="btn btn-info btn-sm">不通过</a>
                            </div>
                            <div class="audit_opera">
                                <a href="{:url('admin/FacultyGroup/showMaterial',['id'=>$row.status_id,'type_id'=>$type_id])}" class="btn btn-info btn-sm">查看</a>
                            </div>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>-->
                <table id="simple-table"  class="table table-striped table-bordered table-hover tab_center">
                    <thead>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>学号</th>
                    <th>评定状态</th>
                    <th>操作</th>
                    </thead>
                    <tbody>
                    <?php $num = 1;?>
                    {foreach $user as $row}
                    <tr>
                        <td>{$num++}</td>
                        <td>{$row.studentname}</td>
                        <td>{$row.studentid}</td>
                        <td>
                            {if condition="$row.status == 1"}申请书已经提交
                            {elseif condition="$row.status==2"}班级小组通过/辅导员通过
                            {elseif condition="$row.status==3"}院系小组通过
                            {elseif condition="$row.status==4"}学生处通过
                            {elseif condition="$row.status==5"}班级小组不通过
                            {elseif condition="$row.status==6"}院系小组不通过
                            {elseif condition="$row.status==7"}学生处不通过
                            {/if}
                        </td>
                        <td class="tab_content">
                            <div class="audit_opera">
                                <a href="{:url('admin/FacultyGroup/showMaterial',['id'=>$row.status_id,'type_id'=>$type_id])}" class="btn btn-info btn-sm btn-success">通过</a>
                            </div>
                            <div class="audit_opera">
                                <a href="{:url('admin/FacultyGroup/showMaterial',['id'=>$row.status_id,'type_id'=>$type_id])}" class="btn btn-info btn-sm btn-danger">不通过</a>
                            </div>
                            <div class="audit_opera">
                                <a href="{:url('admin/FacultyGroup/showMaterial',['id'=>$row.status_id,'type_id'=>$type_id])}" class="btn btn-info btn-sm">查看</a>
                            </div>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
                <div class="notice_page">
                    {$user->render()}
                </div>
            </div>
        </div>
    </div>
</div>
{/block}