{extend name="admin@public/base" /}
{block name="main-content"}

<div class="page-content">
    <div class="page-header"></div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div>
                <table class="table_heading" style="width:100%">
                    <tr>
                        <td colspan="3" style="font-size: 25px;font-weight: 600;text-align: center;line-height: 48px;">
                            国家奖学金公示
                        </td>
                    </tr>
                </table>
				{include file="publicity\yxselect"}
                {if !isset($list)}
                公示时间为：{$begin_time|date='Y-n-d',###} —— {$end_time|date='Y-n-d',###}
                {else}
				{include file="publicity\select"}
                <table class="table table-bordered table-hover tab_center table-striped">
                    <thead>
                    <th>{$Think.lang.common['user']['name']}</th>
					<th>{$Think.lang.common['user']['id_number']}</th>
					<th>{$Think.lang.common['user']['department']}</th>
                    <th>{$Think.lang.common['user']['class']}</th>
                    </thead>
                    <tbody id="ajax-data">
                    {include file="publicity\common"}
                    </tbody>
                </table>
                {/if}
            </div>
        </div>
    </div>
</div>
{/block}
