{include file="public/header/nav_membership_header"}
<!-- 主体内容 S -->
<div class="main w1000" style="background:#fff;">
    <div class="fb-source source_none" >
        <ul>
            <li>
                <a href="{:url('/')}">首页</a>
                <span >-></span>
            </li>
            <li>
                <a>个人中心</a>
                <span >-></span>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
			<table  id="simple-table"  class="table table-striped table-bordered table-hover">
				<thead>
				<tr>
					<th>项目</th>
					<th>状态（以公示结束时间为准）</th>
					<th>公示时间</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>家庭经济困难认定</td>
					<td >
						<span class="{$e_class}">
							{$e_status_name} [
							{if isset($eval_app) && $eval_app}
							{if $eval_app.poor_grade_name}
								学校评级：{$eval_app.poor_grade_name}
							{elseif $eval_app.faculty_poor_grade_name}
								学院评级：{$eval_app.faculty_poor_grade_name}
							{elseif $eval_app.group_poor_grade_name}
								小组评级：{$eval_app.group_poor_grade_name}
							{elseif $eval_app.system_poor_grade_name}
								系统评级：{$eval_app.system_poor_grade_name}	
							{else}
								
							{/if}
							]
							{/if}
						</span>
					</td>
					<td>{$e_subsidy.ypublic_begin_time|date='Y-m-d',###} - {$e_subsidy.ypublic_end_time|date='Y-m-d',###}</td>
				</tr>
				<tr>
					<td >国家助学金</td>
					<td >
						<span class="{$u_class}">
							{$u_status_name}
						</span>
					</td>
					<td>{$u_subsidy.ypublic_begin_time|date='Y-m-d',###} - {$u_subsidy.ypublic_end_time|date='Y-m-d',###}</td>
				</tr>
				<tr>
					<td >国家励志奖学金</td>
					<td >
						<span class="{$m_class}">
							{$m_status_name}
						</span>
					</td>
					<td>{$m_subsidy.ypublic_begin_time|date='Y-m-d',###} - {$m_subsidy.ypublic_end_time|date='Y-m-d',###}</td>
				</tr>
				<tr>
					<td >国家奖学金</td>
					<td >
						<span class="{$n_class}">
							{$n_status_name}
						</span>
					</td>
					<td>{$n_subsidy.ypublic_begin_time|date='Y-m-d',###} - {$n_subsidy.ypublic_end_time|date='Y-m-d',###}</td>
				</tr>
				<!-- <tr>
					<td >勤工助学</td>
					<td >
						<span class="{$w_class}">
							{if condition="$w_status == 0"}不通过
							{elseif condition="$w_status==1"}用人部门通过
							{elseif condition="$w_status==2"}学生处通过
							{elseif condition="$w_status==3"}录用
							{elseif condition="$w_status==4"}已经有工作
							{else}未申请
							{/if}
						</span>
					</td>
				</tr> -->
				</tbody>
			</table>
        </div>
    </div>
</div>



<!-- 主体内容 E -->



{include file="public/footer"}
