{extend name="admin@public/base" /}
{block name="main-content"}

<div class="page-content">
    <div class="page-header">
        <h1>
            您当前操作
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>查看系统公告
            </small>
        </h1>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="w800 notice_list">
                <ul>
                    <li><a href="{:url('admin/MotivFront/M_sys_notice_det')}"><p>我校2017学年国家奖助学金申报工作开始</p><span>2017-09-05</span></a></li>
                    <li><a href="{:url('admin/MotivFront/M_sys_notice_det')}"><p>广东省家庭经济困难学生认定工作指导意见</p><span>2017-09-05</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="notice_page">
    <ol>
        <li><a href="">首页</a></li>
        <li><a href="">上一页</a></li>
        <li><a class="active" href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li><a href="">4</a></li>
        <li><a href="">5</a></li>
        <li><a href="">下一页</a></li>
    </ol>
</div>
{/block}