{include file="public/header/nav_membership_header"}

<!--<div class="nav printHide">
    <ul class="w1000">
        <li><a href="{:url('/personal')}">首页</a></li>
        <li><a href="{:url('/work')}">个人信息</a></li>
        <li class=" active"><a href="{:url('/job_declar')}">岗位申报</a></li>
        <li><a href="{:url('/job_status')}">申报状态</a></li>
        <li><a href="{:url('/notice')}">公示公告</a></li>
    </ul>
</div>-->

<!-- 主体内容 S -->
<div class="main w1000" style="background:#fff;">
    <div class="fb-source source_none" >
        <ul>
            <li>
                <a href="">首页</a>
                <span >-></span>
            </li>
            <li>
                <a>勤工助学金</a>
                <span >-></span>
            </li>
            <li>
                <a>岗位申报</a>
                <span >-></span>
            </li>
        </ul>
    </div>
    <div class="myexam">
        <table width="800" style="margin:0 auto;border-radio:5px;">
            <tr class="line-table-height" style="font-size:16px;background:#438EB9;color:#fff;line-height:35px">
                <td class="k-s-content title" width="20%">岗位</td>
                <td class="k-s-content title">计划人数</td>
                <td class="k-s-content title">已报名人数</td>
                <td class="k-s-content title" >操作</td>
            </tr>
            <tr class="line-table-height" style="font-size: 16px;line-height: 35px;">
                <td class="k-s-content content">XXXX</td>
                <td class="k-s-content content">50</td>
                <td class="k-s-content content">60</td>
                <td class="k-s-content content"><a class="btn" href="">申请</a></td>
            </tr>
            <tr class="line-table-height" style="font-size: 16px;line-height: 35px;">
                <td class="k-s-content content">XXXX</td>
                <td class="k-s-content content">60</td>
                <td class="k-s-content content">40</td>
                <td class="k-s-content content"><a class="btn" href="">申请</a></td>
            </tr>
            <tr class="line-table-height" style="font-size: 16px;line-height: 35px;">
                <td class="k-s-content content">XXXX</td>
                <td class="k-s-content content">12</td>
                <td class="k-s-content content">100</td>
                <td class="k-s-content content"><a class="btn" href="">申请</a></td>
            </tr>
        </table>
    </div>


</div>
<!-- 主体内容 E -->

{include file="public/footer"}