{extend name="admin@public/base" /}
{block name="main-content"}

<div class="page-content">
    <div class="page-header">
        <h1>
            您当前操作
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                <a href="">国家奖学金辅导员审核</a>
            </small>
            <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            添加推荐理由
            </small>
        </h1>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="w800" >
                <table class="table_heading" style="width:100%">
                    <tr>
                        <td colspan="2"></td>
                        <td style="text-align: right"><span style="font-size: 13px;color:grey;">广东农工商职业技术学院</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="font-size: 25px;font-weight: 600;text-align: center;border-top: 1px solid #000;line-height: 48px;">
                            普通本科高校、高等职业学校国家奖学金申请表
                        </td>
                    </tr>
                </table>
                <table class="table table-bordered tab_center">
                    <!--基本情况-->
                    <tr>
                        <td rowspan="4" class="tab_title tab_40px">基本情况</td>
                        <td class="tab_title tab_80px">姓名</td>
                        <td class="tab_content tab_100px">{$user.studentname}</td>
                        <td class="tab_title">性别</td>
                        <td class="tab_content">{$user.gender}</td>
                        <td class="tab_title">出生年月</td>
                        <td colspan="2" class="tab_content tab_140px">{$user.birthday}</td>
                    </tr>
                    <tr>
                        <td class="tab_title">政治面貌</td>
                        <td class="tab_content">{$user.political}</td>
                        <td class="tab_title">民族</td>
                        <td class="tab_content">{$user.nation}</td>
                        <td class="tab_title">入学时间</td>
                        <td colspan="2" class="tab_content">{$user.admission_date}</td>
                    </tr>
                    <tr>
                        <td class="tab_title">专业</td>
                        <td class="tab_content">{$user.profession}</td>
                        <td class="tab_title">学制</td>
                        <td class="tab_content">{$user.school_system}年</td>
                        <td class="tab_title">联系电话</td>
                        <td colspan="2" class="tab_content">{$user.tel}</td>
                    </tr>
                    <tr>
                        <td class="tab_title">身份证号</td>
                        <td colspan="6" class="tab_content">{$user.id_number}</td>
                    </tr>
                    <!--学习情况-->
                    <tr>
                        <td rowspan="2" class="tab_title">学习情况</td>
                        <td colspan="4" class="tab_content">
                            成绩排名：
                            <input type="text" class="input_border_bottom" style="width: 15%;" value="{$user.course_ranking}" disabled>/
                            <input type="text" class="input_border_bottom" style="width: 15%;" value="{$user.course_total_people}" disabled>(名次/总人数)
                        </td>
                        <td colspan="3" class="tab_content">
                            实行综合考评排名：
                            <div style="display:inline-block;margin-right: 20px;">
                                <label>
                                    是<input {if condition="$user.is_assessment==1"} checked {/if} disabled type="radio" name="" style="height:auto;width: auto;margin-right: 5px;"/>
                                </label>
                            </div>
                            <div style="display:inline-block;">
                                <label>
                                    否<input {if condition="$user.is_assessment==0"} checked {/if} disabled type="radio" name="" style="height:auto;width: auto;margin-right: 5px;"/>
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="tab_content">
                            必修课 <input type="text" class="input_border_bottom" style="width: 15%;" value="{$user.compulsory_course}" disabled>门 ，
                            其中及格及以上 <input type="text" class="input_border_bottom" style="width: 15%;" value="{$user.pass_count}" disabled>门
                        </td>
                        <td colspan="3" class="tab_content">
                            如是，排名 <input type="text" class="input_border_bottom" style="width: 10%;" value="{$user.assessment_ranking}" disabled>/
                            <input type="text" class="input_border_bottom" style="width: 10%;" value="{$user.assessment_total_people}" disabled>（名次/总人数）
                        </td>
                    </tr>
                    <!--大学期间主要获奖情况-->
                    <tr><!--自行替换为要循环出来的数量+1-->
                        <td rowspan="5"  class="tab_title">大学期间主要获奖情况</td>
                        <td colspan="2" class="tab_title">日期</td>
                        <td colspan="3" class="tab_title">奖项名称</td>
                        <td colspan="3" class="tab_title">颁奖单位</td>
                    </tr>
                    {foreach $user.awards as $r}
                    <tr>
                        <td colspan="2" class="tab_content">{$r.date}</td>
                        <td colspan="3" class="tab_content">{$r.name}</td>
                        <td colspan="3" class="tab_content">{$r.unit}</td>
                    </tr>
                    {/foreach}
                    <!--申请理由-->
                    <tr>
                        <td class="tab_title">申请理由（200字）</td>
                        <td colspan="7" class="tab_content">
                            <textarea name="" id="" class="tab_opinion" disabled>{$user.reason}</textarea>
                            <div class="tab_sign">
                                <label for="">申请人签名：</label>
                                <input type="text" value="{$user.studentname}" disabled>
                            </div>
                            <div class="clearfix"></div>
                            <div class="tab_time">
                                <input type="text" value="{$user.create_at|date='Y',###}" disabled>年
                                <input type="text" value="{$user.create_at|date='n',###}" disabled>月
                                <input type="text" value="{$user.create_at|date='d',###}" disabled>日
                            </div>
                        </td>
                    </tr>
                </table>
                <form method="post" action="{:url('admin/Counselor/fillOpinion')}">
                    <table class="w800">
                        <tr>
                            <td class="tab_title"><p class=" tab_left" style="font-size: 16px;">填写推荐理由（100字）：</p></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="tab_content">
                                <textarea name="group_opinion[text]" class="tab_opinion">{$user.group_opinion.text}</textarea>
                                <div class="tab_sign">
                                    <label for="">推荐人（辅导员或班主任）签名：</label>
                                    <input type="text" name="group_opinion[name]" value="{$user.group_opinion.name}">
                                </div>
                                <div class="clearfix"></div>
                                <div class="tab_time">
                                    <input type="text" name="group_opinion[year]" value="{$user.group_opinion.time|date='Y',###}">年
                                    <input type="text" name="group_opinion[month]" value="{$user.group_opinion.time|date='n',###}">月
                                    <input type="text" name="group_opinion[day]" value="{$user.group_opinion.time|date='d',###}">日
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="height: 30px;"></td>
                        </tr>
                        <tr>
                            <td style="width: 266px;"></td>
                            <input type="hidden" value="{$user.user_id}" name="user_id">
                            <input type="hidden" value="{$id}" name="status_id">
                            <td class="tab_content" style="width: 266px;">
                                <button type="submit" class="btn btn-success" name="pass">通过</button>
                                <button type="submit" class="btn btn-danger" name="fail" value="1">不通过</button>
                            </td>
                            <td style="width: 266px;"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}