{extend name="admin@public/base" /}
{block name="main-content"}

<div class="page-content">
    <div class="page-header">
        <h1>
            您当前操作
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>国家奖学金院系审核
            </small>

        </h1>
    </div>
    <input type="hidden" name="faculty" value="5">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="w1000">
                <div class="personal_num">
                    <div class="passed">
                        <p class="success_bg"><span></span><span>全系</span>已评定人数：</p>
                        <p class="default_bg"><span>100</span>人</p>
                    </div>
                    <div class="passed pull-right">
                        <p class="danger_bg"><span></span><span>全系</span>未评定人数：</p>
                        <p class="default_bg"><span>50</span>人</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <form class="tab_inquire" method="post">
                    <p>筛选：</p>
                    <select class="form-control tab_select grade_select" style="width:15%;">
                        <option value="0"></option>
                        <option value=""><a href="">2015级</a></option>
                        <option value=""><a href="">2016级</a></option>
                        <option value=""><a href="">2017级</a></option>
                    </select>
                    <select class="form-control tab_select subject_select">
                        <option value="0"><a href="">全系</a></option>
                        <option value=""><a href="">汽车技术服务与营销</a></option>
                        <option value=""><a href="">汽车检测与维修技术</a></option>
                        <option value=""><a href="">汽车电子技术</a></option>
                        <option value=""><a href="">电子信息工程技术</a></option>
                        <option value=""><a href="">通信技术</a></option>
                        <option value=""><a href="">电气自动化技术</a></option>
                        <option value=""><a href="">应用电子技术</a></option>
                        <option value=""><a href="">物联网应用技术</a></option>
                    </select>
                    <div class="tab_search">
                        <input type="text" placeholder="学号/姓名">
                        <button class="btn btn-info btn-sm" type="submit">查询</button>
                    </div>
                </form>
                <table class="table table-striped table-bordered table-hover tab_center">
                    <thead>
                    <th class="info_bg">序号</th>
                    <th class="info_bg">姓名</th>
                    <th class="info_bg">学号</th>
                    <th class="info_bg">状态</th>
                    <th class="info_bg">操作</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="tab_content">1</td>
                        <td class="tab_content">韦发炫</td>
                        <td class="tab_content">20153328110</td>
                        <td class="tab_content">机电系物联网应用技术1班</td>
                        <td class="tab_content">班级小组评定已通过/辅导员评定未通过</td>
                        <td class="tab_content">
                            <div class="audit_opera">
                                <a href="{:url('admin/ScholarFront/S_faculty_add_review')}" class="btn btn-info btn-sm">通过</a>
                            </div>
                            <div class="audit_opera">
                                <a href="{:url('admin/ScholarFront/S_faculty_add_review')}" class="btn btn-info btn-sm">不通过</a>
                            </div>
                            <div class="audit_opera">
                                <a href="{:url('admin/ScholarFront/S_faculty_add_review')}" class="btn btn-info btn-sm">查看</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tab_content">1</td>
                        <td class="tab_content">韦发炫</td>
                        <td class="tab_content">20153328110</td>
                        <td class="tab_content">班级小组评定已通过/辅导员评定未通过</td>
                        <td class="tab_content">
                            <div class="audit_opera">
                                <a href="{:url('admin/ScholarFront/S_faculty_add_review')}" class="btn btn-info btn-sm">通过</a>
                            </div>
                            <div class="audit_opera">
                                <a href="{:url('admin/ScholarFront/S_faculty_add_review')}" class="btn btn-info btn-sm">不通过</a>
                            </div>
                            <div class="audit_opera">
                                <a href="{:url('admin/ScholarFront/S_faculty_add_review')}" class="btn btn-info btn-sm">查看</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="notice_page" style="margin: 40px 0 0  0">
    <ol>
        <li><a href="">首页</a></li>
        <li><a href="">上一页</a></li>
        <li><a class="active" href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li><a href="">4</a></li>
        <li><a href="">5</a></li>
        <li><a href="">下一页</a></li>
    </ol>
</div>
{/block}