{extend name="admin@public/base" /}
{block name="main-content"}

<div class="page-content">
    <div class="page-header">
        <h1 style="display: inline-block;">
            您当前操作
            <small>
            <i class="ace-icon fa fa-angle-double-right"></i>国家奖学金院系公示结果
            </small>
        </h1>
        <form action="" method="post">
            <div class="pull-right" style="margin: 10px 15% 20px 0;">
                <button class="btn btn-info btn-sm" name="school" value="2">全院</button>
                <button class="btn btn-info btn-sm" name="department" value="1">本系</button>
            </div>
        </form>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div>
                <table class="table_heading" style="width:100%">
                    <tr>
                        <td colspan="3" style="font-size: 25px;font-weight: 600;text-align: center;line-height: 48px;">
                            国家奖学金院系公示
                        </td>
                    </tr>
                </table>
                {if empty($list[1])}
                公示时间为：{$open_time.begin_time|date='Y-n-d',###} —— {$open_time.end_time|date='Y-n-d',###}
                {else}
                <table class="table table-bordered table-hover tab_center table-striped">
                    <thead>
                    <th>姓名</th>
                    <th>学号</th>
                    <th>班级</th>
                    <!--<th>评议分数</th>-->
                    <!--<th>评议等级</th>-->
                    <!--<th>公示时间</th>-->
                    </thead>
                    <tbody>
                    {foreach $list as $row}
                    <tr>
                        <td>{$row.studentname}</td>
                        <td>{$row.user_id}</td>
                        <td>{$row.profession}{$row.class}</td>
                        <!--<td>{$row.publicity_begin|date='Y-n-d',###}—{$row.publicity_end|date='Y-n-d',###}</td>-->
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
                {/if}
            </div>
        </div>
    </div>
</div>
<div class="notice_page">
    {$list->render()}
</div>
{/block}