{include file="public/header/nav_membership_header"}

<div class="main w1000" style="background:#fff;">
    <div class="fb-source source_none" >
        <ul>
            <li>
                <a href="{:url('/')}">首页</a>
                <span >-></span>
            </li>
            <li>
                <a>国家助学金申请表</a>
                <span >-></span>
            </li>
        </ul>
    </div>
    <!--startprint2-->
    <form action="" method="post" enctype="multipart/form-data" id="schoForm">
        {if $is_eval_app_pass}
        <div class="personal_table">
            <table width="756px">
                <tbody>
                <tr style="height:30px;">
                    <td colspan="2">

                    </td>
                    <td colspan="1" style="text-align: right;">
                        <span style="font-size: 13px;color: grey;">广东农工商职业技术学院</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: center;font-size: 25px;font-weight: bold;border-top:1px solid #000000;line-height:48px;">
                        普通本科高校、高等职业学校国家助学金申请表<img src="">
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
            <table width="756px" class="k-w-table line_table">
                <tbody>
                    <tr class="line-table-height gants_tab">
                        <td rowspan="4" class="k-s-content title" style="width: 40px;">本人情况</td>
                        <td class="k-s-content title" style="text-align: center;">姓名</td>
                        <td class="k-s-content content"><input type="text" name="" value="{$user_info.studentname}"/></td>
                        <td class="k-s-content title">性别</td>
                        <td class="k-s-content content"><input type="text" name="" value="{$user_info.gender}"/></td>
                        <td class="k-s-content title">出生年月</td>
                        <td class="k-s-content content"><input type="text" name="" value="{$user_info.birthday}"/></td>
                        <td colspan="1" class="k-s-content" rowspan="4" style="text-align: center;position:relative;width:125px; ">

                            <img class="test1" style="width: 125px; height: 175px; display: inline;" src="{$user.member_list_headpic}" height="175px" width="125px" alt="照片">
                        </td>

                    </tr>
                    <tr class="line-table-height">
                        <td class="k-s-content title" style="text-align: center;">民族</td>
                        <td class="k-s-content content"><input type="text" name="" value="{$user_info.nation}"/></td>
                        <td class="k-s-content title">政治面貌</td>
                        <td class="k-s-content content"><input type="text" name="" value="{$user_info.political}"/></td>
                        <td class="k-s-content title">学号</td>
                        <td class="k-s-content content"><input type="text" name="user_id" value="{$user_info.studentid}"/></td>
                    </tr>
                    <tr class="line-table-height">
                        <td class="k-s-content title" style="text-align: center;">身份证号码</td>
                        <td colspan="3" class="k-s-content content"><input type="text" name="" value="{$user_info.id_number}"/></td>
                        <td class="k-s-content title">联系电话</td>
                        <td class="k-s-content content"><input type="text" name="tel" /></td>
                    </tr>
                    <tr class="line-table-height">
                        <td colspan="2" class="k-s-content title">院系、班级</td>
                        <td colspan="4" class="k-s-content content"><input type="text" name="" value="{$user_info.department_name,$user_info.class_name}"/></td>
                    </tr>

                    <!--家庭经济情况-->
                    <tr class="line-table-height">
                        <td rowspan="3" class="k-s-content title">家庭经济情况</td>
                        <td class="k-s-content title" style="text-align: center;">家庭户口</td>
                        <td colspan="3" class="k-s-content content">
                            <div style="display:inline-block;">
                                <label>
                                    <input type="radio" name="family_type" value="城镇" style="height:auto;width: auto;margin-right: 5px;" {if condition="$user_info.is_rural_student=='否'"} checked {/if} disabled/>城镇
                                </label>
                            </div>
                            <div style="display:inline-block;">
                                <label>
                                    <input type="radio" name="family_type" value="农村" style="height:auto;width: auto;margin-right: 5px;" {if condition="$user_info.is_rural_student=='是'"} checked {/if} disabled/>农村
                                </label>
                            </div>
                        </td>
                        <td class="k-s-content title">家庭人口总数</td>
                        <td colspan="2" class="k-s-content content"><input type="text" name="population" value="{if isset($list.population)}{$list.population}{/if}"/></td>
                    </tr>
                    <tr class="line-table-height">
                        <td class="k-s-content title">家庭月总收入</td>
                        <td class="k-s-content content"><input type="text" name="monthly_total_income" value="{if isset($list.monthly_total_income)}{$list.monthly_total_income}{/if}"/></td>
                        <td class="k-s-content title">人均月收入</td>
                        <td class="k-s-content content"><input type="text" name="monthly_people_income" value="{if isset($list.monthly_people_income)}{$list.monthly_people_income}{/if}"/></td>
                        <td class="k-s-content title">收入来源</td>
                        <td colspan="1" class="k-s-content content"><input type="text" name="income_source" value="{if isset($list.income_source)}{$list.income_source}{/if}"/></td>
                    </tr>
                    <tr class="line-table-height">
                        <td class="k-s-content title">家庭住址</td>
                        <td colspan="4" class="k-s-content content"><input type="text" name="address" value="{if isset($list.address)}{$list.address}{/if}"/></td>
                        <td class="k-s-content title">邮政编码</td>
                        <td colspan="1" class="k-s-content content"><input type="text" name="zip_code" value="{if isset($list.zip_code)}{$list.zip_code}{/if}" /></td>
                    </tr>
                    <!--家庭成员情况-->
                    <tr class="line-table-height">
                        <td rowspan="6" class="k-s-content title">家庭成员情况</td>
                        <td class="k-s-content title">姓名</td>
                        <td class="k-s-content title">年龄</td>
                        <td class="k-s-content title">与本人关系</td>
                        <td colspan="4" class="k-s-content title">工作或学习单位</td>
                    </tr>
                    {if $is_data}
                    {foreach $list.members as $r}
                    <tr>
                        <td class="k-s-content content">{$r.name}</td>
                        <td class="k-s-content content">{$r.age}</td>
                        <td class="k-s-content content">{$r.relation}</td>
                        <td colspan="4" class="k-s-content content">{$r.unit}</td>
                    </tr>
                    {/foreach}
                    {else}
                    <tr class="line-table-height">
                        <td class="k-s-content content"><input type="text" name="members[0][name]" /></td>
                        <td class="k-s-content content"><input type="text" name="members[0][age]" /></td>
                        <td class="k-s-content content"><input type="text" name="members[0][relation]" /></td>
                        <td colspan="4" class="k-s-content content"><input type="text" name="members[0][unit]" /></td>
                    </tr>
                    <tr class="line-table-height">
                        <td class="k-s-content content"><input type="text" name="members[1][name]" /></td>
                        <td class="k-s-content content"><input type="text" name="members[1][age]" /></td>
                        <td class="k-s-content content"><input type="text" name="members[1][relation]" /></td>
                        <td colspan="4" class="k-s-content content"><input type="text" name="members[1][unit]" /></td>
                    </tr>
                    <tr class="line-table-height">
                        <td class="k-s-content content"><input type="text" name="members[2][name]" /></td>
                        <td class="k-s-content content"><input type="text" name="members[2][age]" /></td>
                        <td class="k-s-content content"><input type="text" name="members[2][relation]" /></td>
                        <td colspan="4" class="k-s-content content"><input type="text" name="members[2][unit]" /></td>
                    </tr>
                    <tr class="line-table-height">
                        <td class="k-s-content content"><input type="text" name="members[3][name]" /></td>
                        <td class="k-s-content content"><input type="text" name="members[3][age]" /></td>
                        <td class="k-s-content content"><input type="text" name="members[3][relation]" /></td>
                        <td colspan="4" class="k-s-content content"><input type="text" name="members[3][unit]" /></td>
                    </tr>
                    <tr class="line-table-height">
                        <td class="k-s-content content"><input type="text" name="members[4][name]" /></td>
                        <td class="k-s-content content"><input type="text" name="members[4][age]" /></td>
                        <td class="k-s-content content"><input type="text" name="members[4][relation]" /></td>
                        <td colspan="4" class="k-s-content content"><input type="text" name="members[4][unit]" /></td>
                    </tr>
                    {/if}
                    <!--申请理由-->
                    <tr class="line-table-height">
                        <td colspan="8" class="k-s-content content" style="text-align: left;">
                            <label>申请理由：</label>
                            <textarea name="reason" id="" class="longtext">{if isset($list.reason)}{$list.reason}{/if}</textarea>
                            <div style="float: right;">
                                <div class="level_form">
                                    <div class="signature">
                                        <label for="">申请人签名：</label>
                                        <input type="text" value="{$user_info.studentname}">
                                    </div>
                                </div>
                                <div class="level_form">
                                    <div class="level_time">
                                        <input type="text" value="{$list.time|date='Y',###}" disabled>
                                        <label for="">年</label>
                                    </div>
                                    <div class="level_time">
                                        <input type="text" value="{$list.time|date='m',###}" disabled>
                                        <label for="">月</label>
                                    </div>
                                    <div class="level_time">
                                        <input type="text" value="{$list.time|date='d',###}" disabled>
                                        <label for="">日</label>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--endprint2-->
		<button class="print printHide" type="submit" id="schosubmit">提交</button>
        {if !$is_data}
        <button class="print printHide" type="submit" id="schosubmit">提交</button>
        {/if}
        <button class="print printHide" onclick="preview(2)">打印</button>
        {else}
        <div>
            <p style="color:red;font-size:18px;text-align:center;">抱歉，通过家庭困难认定后才能申请</p>
        </div>
        {/if}
    </form>
</div>
<script>
$("#schosubmit").click(function(){
});
</script>
{if $is_data}
<script>
$("#schoForm").find("input").attr('disabled',true);
$("#schoForm").find("select").attr('disabled',true);
$("#schoForm").find("textarea").attr('disabled',true);
</script>
{/if}

{include file="public/footer"}
