{foreach $user as $row}
<tr>
    <td>{$row.status_id}</td>
    <td>{$row.studentname}</td>
    <td>{$row.member_list_username}</td>
    <td>{$row.department_name}{$row.profession}{$row.class}</td>
    <td>
        {php}echo config('check_status.'.$row['check_status']);{/php}
    </td>
    <td>
        <div class="audit_opera">
            <a href="{:url('admin/ScholarshipsGroup/showMaterial',['id'=>$row.status_id,'type_id'=>$id])}" class="btn btn-info btn-sm">添加评语</a>
        </div>
    </td>
</tr>
{/foreach}
<tr>
    <td height="50" colspan="12" align="left">{$page}</td>
</tr>
