{foreach name="member_list" item="v"}
	<tr>
		<td class="hidden-xs" height="28" >{$v.member_list_id}</td>
		<td>{$v.studentname|default="未知"}</td>
		<td>{$v.id_number}</td>
		<td>{$v.class_name}</td>
		<td>{$v.department_name}</td>
		<td class="hidden-sm hidden-xs">{$v.member_list_addtime|date='Y-m-d H:i:s',###}</td>
		<td>
			<div class="action-buttons">
				<a class="green"  href="{:url('admin/Member/member_edit',array('member_list_id'=>$v['member_list_id']))}" title="修改">
					<i class="ace-icon fa fa-pencil bigger-130"></i>
				</a>
				<a class="red confirm-rst-url-btn" href="{:url('admin/Member/member_del',array('member_list_id'=>$v['member_list_id'],'p'=>input('p',1)))}" data-info="你确定要删除吗？" title="删除">
					<i class="ace-icon fa fa-trash-o bigger-130"></i>
				</a>
			</div>
			
		</td>
	</tr>
{/foreach}
<tr>
	<td height="50" colspan="12" align="left">{$page}</td>
</tr>
