<div class="clearfix"></div>
<div class="footer">
	<div class="footer-inner">
		<div class="footer-content">
			<span class="bigger-120">
				<span class="blue bolder"><a href="http://www.gdaib.edu.cn" target="_ablank">GDAIB</a></span>
				学生资助管理系统v4.0 &copy; {:date('Y')}
			</span>
		</div>
	</div>
</div>
<script>
if(navigator.appName == "Microsoft Internet Explorer"&&parseInt(navigator.appVersion.split(";")[1].replace(/[ ]/g, "").replace("MSIE",""))<9){
	alert("请使用谷歌浏览器或IE9版本以上的现代浏览器访问本网站");
}
</script>
<script>
/*
{if isset($faculty_number) && $faculty_number}
$(function(){
	$(".faculty_more").trigger("change")
})
{/if}
*/
</script>