{extend name="admin@public/base" /}
{block name="main-content"}

<div class="page-content">
    <div class="page-header">
        <h1>
            您当前操作
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>毕业生信息录入
            </small>
        </h1>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="w800">
                <table class="table_heading" style="width:100%">
                    <tr>
                        <td colspan="2"></td>
                        <td style="text-align: right"><span style="font-size: 13px;color:grey;">广东农工商职业技术学院</span></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="font-size: 25px;font-weight: 600;text-align: center;border-top: 1px solid #000;line-height: 48px;">
                            国家奖学金毕业生信息录入
                        </td>
                    </tr>
                </table>
                <table class="table table-bordered table-hover tab_center">
                    <thead>
                    <th class="info_bg" style="width: 70px;">
                        <div style="display:inline-block;">
                            <label>
                                <input type="checkbox" name="" style="height:auto;width: auto;margin-right: 5px;"/>全选
                            </label>
                        </div>
                    </th>
                    <th class="info_bg">序号</th>
                    <th class="info_bg">年级</th>
                    <th class="info_bg">姓名</th>
                    <th class="info_bg">学号</th>
                    <th class="info_bg">班级</th>
                    <th class="info_bg">评分</th>
                    <th class="info_bg">申请类型</th>
                    <th class="info_bg">申请时间</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="tab_content">
                            <div style="display:inline-block;margin-right: 20px;">
                                <label>
                                    <input type="checkbox" name="" style="height:auto;width: auto;margin-right: 5px;"/>
                                </label>
                            </div>
                        </td>
                        <td class="tab_content">1</td>
                        <td class="tab_content">2015</td>
                        <td class="tab_content">韦发炫</td>
                        <td class="tab_content">20153328110</td>
                        <td class="tab_content">物联网应用技术一班</td>
                        <td class="tab_content">100</td>
                        <td class="tab_content">国家奖学金</td>
                        <td class="tab_content">2016.11.01</td>
                    </tr>
                    <tr>
                        <td class="tab_content">
                            <div style="display:inline-block;margin-right: 20px;">
                                <label>
                                    <input type="checkbox" name="" style="height:auto;width: auto;margin-right: 5px;"/>
                                </label>
                            </div>
                        </td>
                        <td class="tab_content">1</td>
                        <td class="tab_content">2015</td>
                        <td class="tab_content">韦发炫</td>
                        <td class="tab_content">20153328110</td>
                        <td class="tab_content">物联网应用技术一班</td>
                        <td class="tab_content">100</td>
                        <td class="tab_content">国家奖学金</td>
                        <td class="tab_content">2016.11.01</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{/block}