{include file="public/header/nav_membership_header"}

<!-- 主体内容 S -->
<div class="main w1000" style="background:#fff;">
    <div class="fb-source source_none" >
        <ul>
            <li>
                <a href="{:url('/')}">首页</a>
                <span >-></span>
            </li>
            <li>
                <a>勤工助学金</a>
                <span >-></span>
            </li>
            <li>
                <a>申报状态</a>
                <span >-></span>
            </li>
        </ul>
    </div>
    <div class="myexam">
        <table width="800" style="margin:0 auto;border-radio:5px;">
            <tr class="line-table-height" style="font-size:16px;background:#438EB9;color:#fff;line-height:35px">
                <td class="k-s-content"  width="40%">已申请岗位</td>
                <td class="k-s-content" >状态</td>
            </tr>
            <tr class="line-table-height" style="font-size:16px;line-height:35px">
                <td class="k-s-content"  width="40%">XXXX</td>
                <td class="k-s-content" ><span class="review-success">已通过!</span></td>
            </tr>
            <tr class="line-table-height" style="font-size:16px;line-height:35px">
                <td class="k-s-content" width="40%">XXXX</td>
                <td class="k-s-content" ><span class="review-error">未通过！</span></td>
            </tr>
        </table>
    </div>


</div>
<!-- 主体内容 E -->

{include file="public/footer"}