{include file="public/header/nav_guest_header"}
<div class="nav-old">
    <ul class="w1000">
        <li class=""><a href="{:url('/')}">首页</a></li>
        <li class="active"><a href="{:url('/home/Listn/showList/5')}">通知公告</a></li>
        <li class=""><a href="{:url('/home/Listn/showList/3')}">资助新闻</a></li>
        <li class=""><a href="{:url('/home/Listn/showList/6')}">资助政策</a></li>
    </ul>
</div>
<!-- 导航 -->
<!--<div class="nav">-->
    <!--<ul class="w1000">-->
        <!--<li class=""><a href="{:url('/index_front')}">首页</a></li>-->
        <!--<li class="active"><a href="{:url('/home/Listn/showList/5')}">通知公告</a></li>-->
        <!--<li class=""><a href="{:url('/home/Listn/showList/3')}">资助新闻</a></li>-->
        <!--<li class=""><a href="{:url('/home/Listn/showList/6')}">资助政策</a></li>-->
    <!--</ul>-->
<!--</div>-->
<!-- 导航 -->
<!-- 主体内容 S -->
<div class="main w1000">
    <div class="fb-source">
        <ul>
            <li>
                <a href="">首页</a>
                <span >-></span>
            </li>
            <li>
                <a>通知公告</a>
                <span >-></span>
            </li>
        </ul>
    </div>
    <!-- 通知公告 -->
    <div class="fb-list" >
        <ul>
            {volist name="lists['news']" id="vo"}
            <li><a href="{:url('home/News/index',array('id'=>$vo['n_id']))}"><p>{$vo.news_title}</p><span>{$vo.news_time||date="Y-m-d",###}</span></a></li>
            {/volist}
        </ul>
    </div>
    <div class="fb-page">
        {$page_html}
    </div>

    <!-- 通知公告 -->

</div>
<!-- 主体内容 E -->

{include file="public/footer"}